/* SPACING BETWEEN IMAGES */

 #divCenter {
  margin:0px auto;
  width:960px; 
  height:auto;
  padding:10px;
}

 #divIDOne {
     margin-right: 0px;
 }

 #divIDTwo {
   margin-left: 20px;
 }


--------


/* BACK TO TOP */

html {
	scroll-behavior: smooth;
}

.back-to-top {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: #151b1d;
	border-radius: 0.5rem;
	padding: 0.5rem;
	text-decoration: none;
	transition: 0.2s ease-out;
}

.back-to-top span {
	color: #FFFFFF;
	font-size: 3rem;
	transition: 0.2s ease-out;
}

.back-to-top:hover {
	background-color: #9cc5d5 ;
}
.back-to-top:hover span {
	transform: translateY(-4px);
}


------

/* hover */

.zoom-img {
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.zoom-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .3s ease;
}

.zoom-img img:hover {
  transform: scale(1.2);
}
<div class="zoom-img">
  <img src="https://64.media.tumblr.com/90c1ab663b1cb8f04abb4b4f316ab9a5/6c621fb1001dddd0-b8/s1280x1920/626a5fe97d50a750311a5fd707717b3cee495e35.gifv" alt="This zooms-in really well and smooth">
</div>
