/* SPACING BETWEEN IMAGES */

   .item {
  margin-right: 10px; /* Adds 10px space to the right of each item */
}

/* To avoid extra margin on the last item, you can use: */
.item:not(:last-child) {
  margin-right: 10px;
}


/* BACK TO TOP */

html {
	scroll-behavior: smooth;
}

.back-to-top {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: #151b1d;
	border-radius: 0.5rem;
	padding: 0.5rem;
	text-decoration: none;
	transition: 0.2s ease-out;
}

.back-to-top span {
	color: #FFFFFF;
	font-size: 3rem;
	transition: 0.2s ease-out;
}

.back-to-top:hover {
	background-color: #9cc5d5 ;
}
.back-to-top:hover span {
	transform: translateY(-4px);
}
